<!DOCTYPE html>
<html>
    <head>
        
       <link rel="stylesheet" href={{ url_for('static', filename='styles.css')}}  type="text/css"/> 
  
    </head>
    <body>
        <div class="intro">
            <div>
                <a href="{{ artist_info[3] }}"><img class="logo" src="https://www.freepnglogos.com/uploads/spotify-logo-png/spotify-icon-green-logo-8.png"></img></a>
            </div>
            <div class="jumbo"> 
                <img src="{{artist_info[0]}}"  class='front-img'></img>
                <h1>{{artist_info[1]}}</h1>
            </div>
            <div class="popular">
                <h2 title="Popularity out of 100!">{{artist_info[2]}}</h2>
                <!--<h4>Popularity out of 100</h4>-->
            </div>
        </div>
        
        <div class='list-tracks'>
        {%for i in range(3)%} 
              <div class='cover'>
                   <img class='track-align'src={{all_tracks[i].get_song_image()}} ></img>
                   <audio class='audio-align' controls src={{all_tracks[i].get_song_prev_url()}}> </audio>
                   <h3 class='song-text'>{{all_tracks[i].get_song_name()}}</h3>
                   <h4 class='song-text'>By {{all_tracks[i].get_song_artist()}}</h4>
                   <a class='lyrics' href="{{all_tracks[i].get_song_lyrics()}}"> Lyrics </a>
              </div>
        {%endfor%} 
        </div>
    </body>
</html>