<!DOCTYPE html>
<html>
    <head>
        
       <link rel="stylesheet" href={{ url_for('static', filename='styles.css')}}  type="text/css"/> 
  
    </head>
    <body>
        
        <div class="jumbo"> 
            <img src="{{all_tracks[0].get_song_image()}}"  class='front-img'></img>
            <h1>{{all_tracks[0].get_song_artist()}}</h1>
        </div>
        
        <h1>Top Hits!</h1>
        

        <div> Song: {{all_tracks[0].get_song_name()}} </div>
        <div> Artist: {{all_tracks[0].get_song_artist()}} </div>
        <div> <img src={{all_tracks[0].get_song_image()}} ></img></div>
        <div> <audio controls src={{all_tracks[0].get_song_prev_url()}}> </audio></audio> </div>
        
        
    </body>
</html>